.card{
    border-radius: 45px;
}

.card span{
    line-height: 40px;
    height: 40px;
    font-size: 50px;
}

.card span.card-title i.material-icons{
    font-size: 60px;
    line-height: 45px;
}

.row .input-field textarea{
    font-size: 48px;
    height: 150px;
}


textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid grey;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 1px 0 0 grey;
}

.row p i{
    font-size: 35px;
}

.row.card h5{
    line-height: 67px;
}